.DS_Store
*.swp
*~.nib

build/

xcuserdata
xcuserdata/*
*.xcuserstate
*.pbxuser
*.perspective
*.perspectivev3
.xcuserstate
*.xcuserstate
.DS_Store

ios/dj-heartbeat/config.json
ios/dj-heartbeat/GoogleService-Info.plist

api/firebase_service_account.json
